/* ======================================================= */
/* ================ General Chatbox Style =================*/
/* ======================================================= */



* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  word-wrap: break-word;
}
.socketchatbox-resize {

  top:0px;
  height:20px;
  width:20px;
/*  background-color:#000;
*/  position:absolute;
  z-index: 99999;

}

#socketchatbox-nw {
  left:0px; 
  cursor:nw-resize; 
}

#socketchatbox-ne{
  right:0px;
  cursor:ne-resize; 
}

#socketchatbox-imagefile {
  width:100%;
}
#socketchatbox-body {
  display: none
}
.socketchatbox-filebutton input[type="file"] {
  position: fixed;
  top: -1000px;
}

#socketchatbox-sendMedia {
  background: lightgrey;
  border: 1px solid lightgray;
  color:gray;
}

#socketchatbox-sendMedia :hover {
  cursor:pointer;
  color:black;
}

#socketchatbox-showHideChatbox {
  float:right;
  margin-right: 25px;
}

#socketchatbox-username {
  float:left;
  margin-left: 20px;
  min-width: 20%;
  max-width:60%;
}
 
#socketchatbox-top {
  min-width: 150px;
  cursor: pointer; 
  height: 30px;
  background: lightgrey;
  color: black;
  font-size: 90%;
  border: 1px solid lightgray;
  opacity: 0.7;
  line-height: 30px;

}


.socketchatbox-page {
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 0px;
  overflow: auto;
/*  resize: horizontal;
*/  background: white;
  z-index: 9999;
  font-family: Arial, Helvetica, sans-serif;
  
}
.socketchatbox-messages img{
  max-width: 100%;
}

.socketchatbox-messages video{
  max-width: 100%;
}

.socketchatbox-log {
  color: gray;
  font-size: 95%;
  margin: 5px;
  text-align: center;
}


.socketchatbox-chatArea {
  height: 350px;
  width: 300px;

  border: 1px solid lightgray;
}

.socketchatbox-messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.socketchatbox-typing {
  color: gray;
}

.socketchatbox-username {
  float: left;
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

 
.socketchatbox-inputMessage {
  height: 40px;  
  outline: none;
  padding-left: 5px;  
  width: 100%;
  font-size: 100%;
}

